/* chat Menu */

.chat-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.messages {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.message {
    margin-bottom: 10px;
    text-align: left;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.message:last-child {
    border-bottom: none;
}

.message strong {
    color: #007bff;
}

.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-input input {
    width: 80%;
    padding: 8px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
}

.chat-input button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #0056b3;
}

.messages::-webkit-scrollbar {
    width: 8px;
}

.messages::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
}

.messages::-webkit-scrollbar-thumb:hover {
    background-color: #007bff;
}

.messages::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}
